<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>servlets_todo_list_web_app</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddTodo</display-name>
    <servlet-name>AddTodo</servlet-name>
    <servlet-class>com.just_do_it.AddTodo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTodo</servlet-name>
    <url-pattern>/AddTodo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewTodos</display-name>
    <servlet-name>ViewTodos</servlet-name>
    <servlet-class>com.just_do_it.ViewTodos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewTodos</servlet-name>
    <url-pattern>/ViewTodos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditeTodo</display-name>
    <servlet-name>EditeTodo</servlet-name>
    <servlet-class>com.just_do_it.EditeTodo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditeTodo</servlet-name>
    <url-pattern>/EditeTodo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TodoUpdated</display-name>
    <servlet-name>TodoUpdated</servlet-name>
    <servlet-class>com.just_do_it.TodoUpdated</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TodoUpdated</servlet-name>
    <url-pattern>/TodoUpdated</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteTodo</display-name>
    <servlet-name>DeleteTodo</servlet-name>
    <servlet-class>com.just_do_it.DeleteTodo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteTodo</servlet-name>
    <url-pattern>/DeleteTodo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfirmTodo</display-name>
    <servlet-name>ConfirmTodo</servlet-name>
    <servlet-class>com.just_do_it.ConfirmTodo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmTodo</servlet-name>
    <url-pattern>/ConfirmTodo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContactUs</display-name>
    <servlet-name>ContactUs</servlet-name>
    <servlet-class>com.just_do_it.ContactUs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactUs</servlet-name>
    <url-pattern>/ContactUs</url-pattern>
  </servlet-mapping>
</web-app>